body{
	font-family: Helvetica,"Comic-Sans", sans-serif;
}
#Introduction{
	text-align:center;
	margin-top:2%;
}
#SiteIntro{
	margin-top:5%;
}
#header-links > a{
	color:black;
}
@media (min-width:1920px){
	.container .jumbotron {
		background: url('images/title1200.jpg') no-repeat;
		height: 558px;
	}	
}
@media(min-width:768px) and (max-width:991px){
	.container .jumbotron{
		background: url('images/title768.jpg') no-repeat;
		height:384px;
	}
}
@media(max-wwidth:767px){
	.container .jumbotron{
		background:url('images/title384.jpg') no-repeat;
		height: 216px;
	}
}
div{
	width:100%;

	margin-top:20px;
	margin-bottom:20px;
}
h2{
	text-align: center;
}
h3{
	margin-left:50px;
}
h4{
	margin-left:50px
}
.img-center{
	display:block;
	margin-left:auto;
	margin-right:auto;

}

p{
	position:relative;
	padding:0%;
	margin-top:1%;
}
li > a > img{
	height: 32px;
	width: 32px;
}